  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.name_of}}" placeholder="Name" name="name_of">
      <label for="floatingInput">Name: </label>
    </div>
  </div>

   <div class="col-6">
    <div class="form-floating mb-3">
      <input type="number" class="form-control" id="floatingInput" value="{{this.roll_no}}" placeholder="Roll no." name="roll_no">
      <label for="floatingInput">Roll Number: </label>
    </div>
  </div>
  
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="date" class="form-control" id="floatingInput" value="{{this.dob}}" placeholder="Date of Birth" name="dob">
      <label for="floatingInput">Date of Birth: </label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="number" class="form-control" id="floatingInput" value="{{this.score}}" placeholder="Score" name="score">
      <label for="floatingInput">Score: </label>
    </div>
  </div>
  
  <div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>